# sampling

In [8]:
import pickle
import numpy as np
import pandas as pd

with open('model3_input.pickle','rb') as f:
    data=pickle.load(f)

In [9]:
data

,courseid,userid,week1_x,week2_x,week3_x,week4_x,week5_x,week2-week1,week3-week2,week4-week3,week5-week4,total_quiz,total_assign,total_forum,GRADE,철회자
0,86422,211046,2.311567,2.311567,0.043207,5.336047,3.067687,0.00000,-2.26836,5.29284,-2.268360,NaN,NaN,NaN,3,0.0
1,86422,308228,0.799327,-0.712913,1.555447,0.043207,-0.712913,-1.51224,2.26836,-1.51224,-0.756120,NaN,NaN,NaN,3,0.0
2,86422,208388,0.043207,-0.712913,-0.712913,2.311567,0.043207,-0.75612,0.00000,3.02448,-2.268360,NaN,NaN,NaN,3,0.0
3,86422,319787,0.799327,-0.712913,-0.712913,0.043207,-0.712913,-1.51224,0.00000,0.75612,-0.756120,NaN,NaN,NaN,3,0.0
4,86422,208462,0.799327,0.043207,0.799327,0.799327,0.799327,-0.75612,0.75612,0.00000,0.000000,NaN,NaN,NaN,3,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134152,95326,337395,-0.411345,-0.411345,-0.411345,-0.411345,1.770029,0.00000,0.00000,0.00000,2.181373,NaN,NaN,NaN,1,0.0
134153,95326,337408,-0.411345,-0.411345,-0.411345,-0.411345,1.333754,0.00000,0.00000,0.00000,1.745099,NaN,NaN,NaN,1,0.0
134154,95326,337394,-0.411345,-0.411345,-0.411345,-0.411345,0.897479,0.00000,0.00000,0.00000,1.308824,NaN,NaN,NaN,1,0.0
134155,95326,337388,-0.411345,-0.411345,-0.411345,-0.411345,0.461205,0.00000,0.00000,0.00000,0.872549,NaN,NaN,NaN,1,1.0
134156,95326,337389,-0.411345,-0.411345,-0.411345,-0.411345,0.461205,0.00000,0.00000,0.00000,0.872549,NaN,NaN,NaN,1,0.0

In [11]:
notdrop = data[data.철회자==0]
drop = data[data.철회자==1]

In [12]:
notdrop

,courseid,userid,week1_x,week2_x,week3_x,week4_x,week5_x,week2-week1,week3-week2,week4-week3,week5-week4,total_quiz,total_assign,total_forum,GRADE,철회자
0,86422,211046,2.311567,2.311567,0.043207,5.336047,3.067687,0.00000,-2.26836,5.29284,-2.268360,NaN,NaN,NaN,3,0.0
1,86422,308228,0.799327,-0.712913,1.555447,0.043207,-0.712913,-1.51224,2.26836,-1.51224,-0.756120,NaN,NaN,NaN,3,0.0
2,86422,208388,0.043207,-0.712913,-0.712913,2.311567,0.043207,-0.75612,0.00000,3.02448,-2.268360,NaN,NaN,NaN,3,0.0
3,86422,319787,0.799327,-0.712913,-0.712913,0.043207,-0.712913,-1.51224,0.00000,0.75612,-0.756120,NaN,NaN,NaN,3,0.0
4,86422,208462,0.799327,0.043207,0.799327,0.799327,0.799327,-0.75612,0.75612,0.00000,0.000000,NaN,NaN,NaN,3,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134151,95326,40027,-0.411345,-0.411345,-0.411345,-0.411345,4.387677,0.00000,0.00000,0.00000,4.799022,NaN,NaN,NaN,1,0.0
134152,95326,337395,-0.411345,-0.411345,-0.411345,-0.411345,1.770029,0.00000,0.00000,0.00000,2.181373,NaN,NaN,NaN,1,0.0
134153,95326,337408,-0.411345,-0.411345,-0.411345,-0.411345,1.333754,0.00000,0.00000,0.00000,1.745099,NaN,NaN,NaN,1,0.0
134154,95326,337394,-0.411345,-0.411345,-0.411345,-0.411345,0.897479,0.00000,0.00000,0.00000,1.308824,NaN,NaN,NaN,1,0.0
134156,95326,337389,-0.411345,-0.411345,-0.411345,-0.411345,0.461205,0.00000,0.00000,0.00000,0.872549,NaN,NaN,NaN,1,0.0

In [13]:
drop

,courseid,userid,week1_x,week2_x,week3_x,week4_x,week5_x,week2-week1,week3-week2,week4-week3,week5-week4,total_quiz,total_assign,total_forum,GRADE,철회자
25,86423,224330,0.555662,-0.588348,0.555662,-0.588348,-0.588348,-1.144011,1.144011,-1.144011,0.000000,NaN,NaN,NaN,3,1.0
26,86423,213077,0.555662,-0.588348,-0.588348,-0.588348,0.555662,-1.144011,0.000000,0.000000,1.144011,NaN,NaN,NaN,3,1.0
27,86423,246279,1.699673,1.699673,-0.588348,-0.588348,-0.588348,0.000000,-2.288022,0.000000,0.000000,NaN,NaN,NaN,3,1.0
29,86423,190146,-0.588348,-0.588348,0.555662,-0.588348,-0.588348,0.000000,1.144011,-1.144011,0.000000,NaN,NaN,NaN,3,1.0
50,86424,314426,-0.607785,-0.607785,-0.607785,-0.607785,0.323498,0.000000,0.000000,0.000000,0.931283,NaN,NaN,NaN,3,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134133,95322,337388,-0.414004,-0.414004,-0.414004,-0.414004,0.700623,0.000000,0.000000,0.000000,1.114627,NaN,NaN,NaN,1,1.0
134140,95323,337388,-0.437856,-0.437856,-0.437856,-0.437856,0.175142,0.000000,0.000000,0.000000,0.612998,NaN,NaN,NaN,1,1.0
134145,95325,314426,-0.462910,-0.462910,-0.462910,-0.462910,3.394674,0.000000,0.000000,0.000000,3.857584,NaN,NaN,NaN,1,1.0
134150,95326,314426,-0.411345,-0.411345,-0.411345,-0.411345,2.206303,0.000000,0.000000,0.000000,2.617648,NaN,NaN,NaN,1,1.0
134155,95326,337388,-0.411345,-0.411345,-0.411345,-0.411345,0.461205,0.000000,0.000000,0.000000,0.872549,NaN,NaN,NaN,1,1.0

drop(6599개)와 똑같은 수의 notdrop 샘플을 10번 뽑는다. (1:1 데이터셋 10개)

In [14]:
sample_set=[]
for t in range(10):
    sample_set.append(notdrop.sample(len(drop)).append(drop))

In [21]:
sample_set

[        courseid  userid   week1_x   week2_x   week3_x   week4_x   week5_x  \
 54179      89473  334863  0.948847  0.948847  0.948847  0.948847 -0.027907
 10845      87117  168786 -0.822375  0.231952 -0.822375 -0.822375 -0.822375
 94108      92551  321818  0.437822  2.480143 -0.328048 -0.838628 -0.583338
 37648      88480  324800 -0.751825  1.340884  1.340884 -0.751825  1.340884
 97504      92817  322563 -0.800741 -0.800741  0.692166 -0.800741  0.692166
 ...          ...     ...       ...       ...       ...       ...       ...
 134133     95322  337388 -0.414004 -0.414004 -0.414004 -0.414004  0.700623
 134140     95323  337388 -0.437856 -0.437856 -0.437856 -0.437856  0.175142
 134145     95325  314426 -0.462910 -0.462910 -0.462910 -0.462910  3.394674
 134150     95326  314426 -0.411345 -0.411345 -0.411345 -0.411345  2.206303
 134155     95326  337388 -0.411345 -0.411345 -0.411345 -0.411345  0.461205

         week2-week1  week3-week2  week4-week3  week5-week4  total_quiz  \
 54179      0.000000     0.000000     0.000000    -0.976755         NaN
 10845      1.054327    -1.054327     0.000000     0.000000         NaN
 94108      2.042320    -2.808191    -0.510580     0.255290         NaN
 37648      2.092709     0.000000    -2.092709     2.092709         NaN
 97504      0.000000     1.492907    -1.492907     1.492907         NaN
 ...             ...          ...          ...          ...         ...
 134133     0.000000     0.000000     0.000000     1.114627         NaN
 134140     0.000000     0.000000     0.000000     0.612998         NaN
 134145     0.000000     0.000000     0.000000     3.857584         NaN
 134150     0.000000     0.000000     0.000000     2.617648         NaN
 134155     0.000000     0.000000     0.000000     0.872549         NaN

         total_assign  total_forum  GRADE  철회자
 54179            NaN          NaN      3  0.0
 10845            NaN          NaN      3  0.0
 94108           11.0          NaN      1  0.0
 37648            NaN          NaN      1  0.0
 97504            NaN          NaN      1  0.0
 ...              ...          ...    ...  ...
 134133           NaN          NaN      1  1.0
 134140           NaN          NaN      1  1.0
 134145           NaN          NaN      1  1.0
 134150           NaN          NaN      1  1.0
 134155           NaN          NaN      1  1.0

 [13198 rows x 16 columns],
         courseid  userid   week1_x   week2_x   week3_x   week4_x   week5_x  \
 28634      88292  239857 -0.195444  2.723846  2.723846 -0.925267  1.994024
 80958      92092  325794 -1.244230 -1.244230 -0.125028  0.248039 -0.871163
 69766      91802  242659  0.312028  1.995803 -1.371747 -1.371747  1.153916
 5379       86548  323495 -0.779237  0.269191 -0.779237 -0.255023 -0.255023
 62225      90237  325622 -1.070134 -1.070134 -0.646458  0.200893 -0.222783
 ...          ...     ...       ...       ...       ...       ...       ...
 134133     95322  337388 -0.414004 -0.414004 -0.414004 -0.414004  0.700623
 134140     95323  337388 -0.437856 -0.437856 -0.437856 -0.437856  0.175142
 134145     95325  314426 -0.462910 -0.462910 -0.462910 -0.462910  3.394674
 134150     95326  314426 -0.411345 -0.411345 -0.411345 -0.411345  2.206303
 134155     95326  337388 -0.411345 -0.411345 -0.411345 -0.411345  0.461205

         week2-week1  week3-week2  week4-week3  week5-week4  total_quiz  \
 28634      2.919290     0.000000    -3.649113     2.919290         NaN
 80958      0.000000     1.119202     0.373067    -1.119202         NaN
 69766      1.683775    -3.367550     0.000000     2.525663         NaN
 5379       1.048428    -1.048428     0.524214     0.000000         NaN
 62225      0.000000     0.423676     0.847351    -0.423676         NaN
 ...             ...          ...          ...          ...         ...
 134133     0.000000     0.000000     0.000000     1.114627         NaN
 134140     0.000000     0.000000     0.000000     0.612998         NaN
 134145     0.000000     0.000000     0.000000     3.857584         NaN
 134150     0.000000     0.000000     0.000000     2.617648         NaN
 134155     0.000000     0.000000     0.000000     0.872549         NaN

         total_assign  total_forum  GRADE  철회자
 28634            NaN          NaN      4  0.0
 80958            NaN          NaN      1  0.0
 69766            NaN          NaN      3  0.0
 5379             NaN          NaN      2  0.0
 62225            NaN          NaN      1  0.0
 ...              ...          ...    ...  ...
 134133           NaN          NaN      1  1.0
 134140           NaN          NaN      1  1.0
 134145           NaN          NaN      1  1.0
 134150           NaN          NaN      1  1.0
 134155           NaN          NaN      1  1.0

 [13198 rows x 16 columns],
         courseid  userid   week1_x   week2_x   week3_x   week4_x   week5_x  \
 19045      87575  334598 -1.080298 -0.161677  0.756944  0.756944 -0.161677
 53738      89456  333294  2.118500  1.252291  0.386082  0.386082  0.386082
 88258      92343  310826  0.036061 -1.097282 -1.097282  0.036061  0.602733
 7755       86637  179257 -0.346139  0.770437  2.780274 -0.346139 -0.346139
 96786      92760  322437 -0.925213  0.353263  0.353263 -0.925213  0.353263
 ...          ...     ...       ...       ...       ...       ...       ...
 134133     95322  337388 -0.414004 -0.414004 -0.414004 -0.414004  0.700623
 134140     95323  337388 -0.437856 -0.437856 -0.437856 -0.437856  0.175142
 134145     95325  314426 -0.462910 -0.462910 -0.462910 -0.462910  3.394674
 134150     95326  314426 -0.411345 -0.411345 -0.411345 -0.411345  2.206303
 134155     95326  337388 -0.411345 -0.411345 -0.411345 -0.411345  0.461205

         week2-week1  week3-week2  week4-week3  week5-week4  total_quiz  \
 19045      0.918621     0.918621     0.000000    -0.918621         NaN
 53738     -0.866209    -0.866209     0.000000     0.000000         NaN
 88258     -1.133343     0.000000     1.133343     0.566672         NaN
 7755       1.116576     2.009837    -3.126413     0.000000         NaN
 96786      1.278476     0.000000    -1.278476     1.278476         NaN
 ...             ...          ...          ...          ...         ...
 134133     0.000000     0.000000     0.000000     1.114627         NaN
 134140     0.000000     0.000000     0.000000     0.612998         NaN
 134145     0.000000     0.000000     0.000000     3.857584         NaN
 134150     0.000000     0.000000     0.000000     2.617648         NaN
 134155     0.000000     0.000000     0.000000     0.872549         NaN

         total_assign  total_forum  GRADE  철회자
 19045            NaN          NaN      1  0.0
 53738            NaN          NaN      3  0.0
 88258            NaN          2.0      1  0.0
 7755             NaN         16.0      1  0.0
 96786            NaN          NaN      1  0.0
 ...              ...          ...    ...  ...
 134133           NaN          NaN      1  1.0
 134140           NaN          NaN      1  1.0
 134145           NaN          NaN      1  1.0
 134150           NaN          NaN      1  1.0
 134155           NaN          NaN      1  1.0

 [13198 rows x 16 columns],
         courseid  userid   week1_x   week2_x   week3_x   week4_x   week5_x  \
 5492       86551  189380 -0.999522 -0.553307 -0.107092 -0.107092 -0.553307
 46649      89149  240041 -0.826501 -0.413793  0.411621 -0.413793 -0.413793
 47950      89167  225096 -1.451727 -1.451727 -0.517682  0.883385 -1.451727
 2411       86474  127184 -0.370828 -0.370828  1.085580  0.600110  0.600110
 84648      92186  323853 -0.047208 -0.800295 -0.423752 -0.800295  0.329335
 ...          ...     ...       ...       ...       ...       ...       ...
 134133     95322  337388 -0.414004 -0.414004 -0.414004 -0.414004  0.700623
 134140     95323  337388 -0.437856 -0.437856 -0.437856 -0.437856  0.175142
 134145     95325  314426 -0.462910 -0.462910 -0.462910 -0.462910  3.394674
 134150     95326  314426 -0.411345 -0.411345 -0.411345 -0.411345  2.206303
 134155     95326  337388 -0.411345 -0.411345 -0.411345 -0.411345  0.461205

         week2-week1  week3-week2  week4-week3  week5-week4  total_quiz  \
 5492       0.446215     0.446215     0.000000    -0.446215         NaN
 46649      0.412707     0.825415    -0.825415     0.000000         NaN
 47950      0.000000     0.934045     1.401067    -2.335112         NaN
 2411       0.000000     1.456408    -0.485469     0.000000         NaN
 84648     -0.753087     0.376543    -0.376543     1.129630         NaN
 ...             ...          ...          ...          ...         ...
 134133     0.000000     0.000000     0.000000     1.114627         NaN
 134140     0.000000     0.000000     0.000000     0.612998         NaN
 134145     0.000000     0.000000     0.000000     3.857584         NaN
 134150     0.000000     0.000000     0.000000     2.617648         NaN
 134155     0.000000     0.000000     0.000000     0.872549         NaN

         total_assign  total_forum  GRADE  철회자
 5492             NaN          NaN      3  0.0
 46649            NaN          NaN      1  0.0
 47950            NaN          NaN      3  0.0
 2411             NaN          NaN      2  0.0
 84648            NaN          NaN      1  0.0
 ...              ...          ...    ...  ...
 134133           NaN          NaN      1  1.0
 134140           NaN          NaN      1  1.0
 134145           NaN          NaN      1  1.0
 134150           NaN          NaN      1  1.0
 134155           NaN          NaN      1  1.0

 [13198 rows x 16 columns],
         courseid  userid   week1_x   week2_x   week3_x   week4_x   week5_x  \
 132927     95030  326881 -0.400596 -0.400596 -0.400596  0.874028 -0.400596
 14723      87237  224025 -1.105239  0.465612 -0.319814  1.251037 -0.319814
 68999      91789  226532  2.040079  0.351241 -0.010653 -0.131284 -0.010653
 100999     93119  191493 -0.213149  0.437137  1.087422  0.437137 -0.863435
 131275     94612  223529 -0.986349  0.320861  0.320861  0.320861  0.320861
 ...          ...     ...       ...       ...       ...       ...       ...
 134133     95322  337388 -0.414004 -0.414004 -0.414004 -0.414004  0.700623
 134140     95323  337388 -0.437856 -0.437856 -0.437856 -0.437856  0.175142
 134145     95325  314426 -0.462910 -0.462910 -0.462910 -0.462910  3.394674
 134150     95326  314426 -0.411345 -0.411345 -0.411345 -0.411345  2.206303
 134155     95326  337388 -0.411345 -0.411345 -0.411345 -0.411345  0.461205

         week2-week1  week3-week2  week4-week3  week5-week4  total_quiz  \
 132927     0.000000     0.000000     1.274625    -1.274625         NaN
 14723      1.570851    -0.785425     1.570851    -1.570851         NaN
 68999     -1.688839    -0.361894    -0.120631     0.120631         7.0
 100999     0.650286     0.650286    -0.650286    -1.300572         NaN
 131275     1.307210     0.000000     0.000000     0.000000         NaN
 ...             ...          ...          ...          ...         ...
 134133     0.000000     0.000000     0.000000     1.114627         NaN
 134140     0.000000     0.000000     0.000000     0.612998         NaN
 134145     0.000000     0.000000     0.000000     3.857584         NaN
 134150     0.000000     0.000000     0.000000     2.617648         NaN
 134155     0.000000     0.000000     0.000000     0.872549         NaN

         total_assign  total_forum  GRADE  철회자
 132927           NaN          NaN      1  0.0
 14723            NaN          NaN      1  0.0
 68999            NaN          NaN      3  0.0
 100999           NaN          4.0      1  0.0
 131275           NaN          NaN      3  0.0
 ...              ...          ...    ...  ...
 134133           NaN          NaN      1  1.0
 134140           NaN          NaN      1  1.0
 134145           NaN          NaN      1  1.0
 134150           NaN          NaN      1  1.0
 134155           NaN          NaN      1  1.0

 [13198 rows x 16 columns],
         courseid  userid   week1_x   week2_x   week3_x   week4_x   week5_x  \
 52644      89333  196598 -1.216504 -1.216504  0.214677 -1.216504 -1.216504
 98404      92859  203703 -0.500000  2.000000 -0.500000 -0.500000 -0.500000
 44303      89098  239764  0.599540 -0.344521 -1.288583  0.599540 -0.344521
 113890     93710  323361  0.339521 -1.013641  0.339521  1.692683  0.339521
 118256     93903  336288  1.172547 -1.245831  0.366421 -2.051957 -2.051957
 ...          ...     ...       ...       ...       ...       ...       ...
 134133     95322  337388 -0.414004 -0.414004 -0.414004 -0.414004  0.700623
 134140     95323  337388 -0.437856 -0.437856 -0.437856 -0.437856  0.175142
 134145     95325  314426 -0.462910 -0.462910 -0.462910 -0.462910  3.394674
 134150     95326  314426 -0.411345 -0.411345 -0.411345 -0.411345  2.206303
 134155     95326  337388 -0.411345 -0.411345 -0.411345 -0.411345  0.461205

         week2-week1  week3-week2  week4-week3  week5-week4  total_quiz  \
 52644      0.000000     1.431182    -1.431182     0.000000         NaN
 98404      2.500000    -2.500000     0.000000     0.000000         NaN
 44303     -0.944061    -0.944061     1.888123    -0.944061         NaN
 113890    -1.353162     1.353162     1.353162    -1.353162         NaN
 118256    -2.418378     1.612252    -2.418378     0.000000         NaN
 ...             ...          ...          ...          ...         ...
 134133     0.000000     0.000000     0.000000     1.114627         NaN
 134140     0.000000     0.000000     0.000000     0.612998         NaN
 134145     0.000000     0.000000     0.000000     3.857584         NaN
 134150     0.000000     0.000000     0.000000     2.617648         NaN
 134155     0.000000     0.000000     0.000000     0.872549         NaN

         total_assign  total_forum  GRADE  철회자
 52644            NaN          NaN      1  0.0
 98404            NaN          NaN      3  0.0
 44303            NaN          NaN      3  0.0
 113890           NaN          NaN      1  0.0
 118256           NaN          NaN      1  0.0
 ...              ...          ...    ...  ...
 134133           NaN          NaN      1  1.0
 134140           NaN          NaN      1  1.0
 134145           NaN          NaN      1  1.0
 134150           NaN          NaN      1  1.0
 134155           NaN          NaN      1  1.0

 [13198 rows x 16 columns],
         courseid  userid   week1_x   week2_x   week3_x   week4_x   week5_x  \
 121017     94071  157527  2.590564 -0.677905 -0.677905 -0.677905  0.411585
 60118      90188  238001  0.830213  0.010250 -0.809714 -0.809714  2.470139
 36597      88456  320323 -1.098845 -0.396044  1.009558  1.009558  1.009558
 15800      87289  183508  0.395555 -1.026530 -0.315488  3.239723 -0.315488
 24522      87878  242226 -0.116621  2.195786  1.039582  1.039582 -0.116621
 ...          ...     ...       ...       ...       ...       ...       ...
 134133     95322  337388 -0.414004 -0.414004 -0.414004 -0.414004  0.700623
 134140     95323  337388 -0.437856 -0.437856 -0.437856 -0.437856  0.175142
 134145     95325  314426 -0.462910 -0.462910 -0.462910 -0.462910  3.394674
 134150     95326  314426 -0.411345 -0.411345 -0.411345 -0.411345  2.206303
 134155     95326  337388 -0.411345 -0.411345 -0.411345 -0.411345  0.461205

         week2-week1  week3-week2  week4-week3  week5-week4  total_quiz  \
 121017    -3.268468     0.000000     0.000000     1.089489         NaN
 60118     -0.819963    -0.819963     0.000000     3.279853         NaN
 36597      0.702801     1.405602     0.000000     0.000000         NaN
 15800     -1.422084     0.711042     3.555211    -3.555211         NaN
 24522      2.312407    -1.156204     0.000000    -1.156204         NaN
 ...             ...          ...          ...          ...         ...
 134133     0.000000     0.000000     0.000000     1.114627         NaN
 134140     0.000000     0.000000     0.000000     0.612998         NaN
 134145     0.000000     0.000000     0.000000     3.857584         NaN
 134150     0.000000     0.000000     0.000000     2.617648         NaN
 134155     0.000000     0.000000     0.000000     0.872549         NaN

         total_assign  total_forum  GRADE  철회자
 121017           NaN          NaN      3  0.0
 60118            NaN          NaN      1  0.0
 36597            NaN          NaN      3  0.0
 15800            NaN          6.0      1  0.0
 24522            NaN          8.0      1  0.0
 ...              ...          ...    ...  ...
 134133           NaN          NaN      1  1.0
 134140           NaN          NaN      1  1.0
 134145           NaN          NaN      1  1.0
 134150           NaN          NaN      1  1.0
 134155           NaN          NaN      1  1.0

 [13198 rows x 16 columns],
         courseid  userid   week1_x   week2_x   week3_x   week4_x   week5_x  \
 130642     94487  310802 -0.400621  0.383203  1.167028 -0.400621  0.383203
 61141      90216  241195 -0.252961 -0.798564  1.111046 -0.525763 -0.252961
 131090     94604  220802  3.348328 -0.658218 -0.658218 -0.658218 -0.658218
 29242      88308  243029 -0.759988 -0.368746  1.196223 -0.759988 -0.173125
 70640      91819  171969  0.268226 -0.663746  0.268226 -0.663746 -0.663746
 ...          ...     ...       ...       ...       ...       ...       ...
 134133     95322  337388 -0.414004 -0.414004 -0.414004 -0.414004  0.700623
 134140     95323  337388 -0.437856 -0.437856 -0.437856 -0.437856  0.175142
 134145     95325  314426 -0.462910 -0.462910 -0.462910 -0.462910  3.394674
 134150     95326  314426 -0.411345 -0.411345 -0.411345 -0.411345  2.206303
 134155     95326  337388 -0.411345 -0.411345 -0.411345 -0.411345  0.461205

         week2-week1  week3-week2  week4-week3  week5-week4  total_quiz  \
 130642     0.783825     0.783825    -1.567649     0.783825         NaN
 61141     -0.545603     1.909610    -1.636809     0.272801         NaN
 131090    -4.006547     0.000000     0.000000     0.000000         NaN
 29242      0.391242     1.564968    -1.956210     0.586863         NaN
 70640     -0.931972     0.931972    -0.931972     0.000000         NaN
 ...             ...          ...          ...          ...         ...
 134133     0.000000     0.000000     0.000000     1.114627         NaN
 134140     0.000000     0.000000     0.000000     0.612998         NaN
 134145     0.000000     0.000000     0.000000     3.857584         NaN
 134150     0.000000     0.000000     0.000000     2.617648         NaN
 134155     0.000000     0.000000     0.000000     0.872549         NaN

         total_assign  total_forum  GRADE  철회자
 130642           NaN          NaN      3  0.0
 61141            NaN          7.0      1  0.0
 131090           NaN          NaN      2  0.0
 29242           10.0          NaN      1  0.0
 70640            NaN          NaN      3  0.0
 ...              ...          ...    ...  ...
 134133           NaN          NaN      1  1.0
 134140           NaN          NaN      1  1.0
 134145           NaN          NaN      1  1.0
 134150           NaN          NaN      1  1.0
 134155           NaN          NaN      1  1.0

 [13198 rows x 16 columns],
         courseid  userid   week1_x   week2_x   week3_x   week4_x   week5_x  \
 41179      89028  314426 -0.667403 -0.667403 -0.667403 -0.667403 -0.085849
 130583     94470  322639  1.435908  2.491722  0.380093 -0.675721  0.380093
 85983      92271  172194 -0.179536 -0.628377 -0.179536 -0.628377 -0.179536
 72195      91872  170605  0.664292  0.183253 -0.778826 -0.778826  1.626371
 25037      87892  155664 -1.094895 -1.094895 -1.094895 -1.094895  0.514307
 ...          ...     ...       ...       ...       ...       ...       ...
 134133     95322  337388 -0.414004 -0.414004 -0.414004 -0.414004  0.700623
 134140     95323  337388 -0.437856 -0.437856 -0.437856 -0.437856  0.175142
 134145     95325  314426 -0.462910 -0.462910 -0.462910 -0.462910  3.394674
 134150     95326  314426 -0.411345 -0.411345 -0.411345 -0.411345  2.206303
 134155     95326  337388 -0.411345 -0.411345 -0.411345 -0.411345  0.461205


# logisitic regression

In [7]:
from sklearn.linear_model import LogisticRegression

In [20]:
model1 = LogisticRegression()
model1.fit(data[['week1_x','week2_x','week3_x','week4_x','week5_x']],data['철회자'])

C:\Users\JAY\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [21]:
model1.score(data[['week1_x','week2_x','week3_x','week4_x','week5_x']],data['철회자'])

0.950692099554999

In [ ]:

model2 =